# Ignore everything
*
# Except the project folder
!Desktop/
!Desktop/project blood bank/
!Desktop/project blood bank/**
# But ignore node_modules and db file
Desktop/project blood bank/node_modules/
Desktop/project blood bank/bloodbank.sqlite
!.gitignore
